@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	background:url(../images/GUI_bglogo.png) no-repeat #606060;
}


/*------------
--------------
Top Bar
-------------
---------------*/
#titleBar.ICESystemBar {
	background: url(../images/greytexturebg.png);
	border: 0px none;
	position: fixed;
	font-size: 13px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 54px;
	padding: 0px;
	-moz-box-shadow: 0px 4px 5px #000;
	-webkit-box-shadow: 0px 4px 5px #00;
	box-shadow: 0px 4px 5px #000;
}
#titlebarWrapper {
	width:1020px;
	margin:0 auto;
	padding:0px;
}

/*----Branding----*/
#branding {
	position: relative;
	padding:10px 10px 0px 10px;;
	float: left;
	overflow: hidden;
}

/*----Course Tree Button----*/
#infoButton.toolInfo {
	background-image: url(../images/coursetreebtn.png);
	height: 54px;
	width: 51px;
	float: left;
	padding-left: 10px;
	text-indent:-9999px
}
#infoButton.toolInfo:hover {
	background-position:-60px 0px;
}

/*----PROGRESS BAR AREA----*/
#middleNavigationConsole { 
	width:508px;
	height:54px;
	float:left;
}

#progressContainer {
	background:#666666;
	position:relative;
	margin:15px auto;
	width:462px;
	height:26px;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
	}
.reflect {
	z-index:900;
	background:url(../images/reflection.png);
	width:462px;
	height:26px;
	position:absolute;
	}
.progressColor {
	background:url(../images/progresscolor.png) no-repeat;
	width:50%;
	height:24px;
	margin-top:1px;
	z-index:3;
	position:absolute;
	top:0px;
	-moz-box-shadow: inset 0 0 2px 2px #6b8663;
	-webkit-box-shadow: inset 0 0 2px 5px#6b8663;
	box-shadow: inset 0 0 2px 2px #6b8663;
	}

#pText {
	text-align:right;
	font:bold 14px;
	margin: 0px;
	padding: 4px 15px 0px 15px;
	color: #fff;
	text-shadow: 0px 1px 0px #fff;

}

/*----Resource Button----*/
#resourceButton.toolResource {
	background-image: url(../images/resourcebtn.png);
	height: 54px;
	width: 49px;
	float: left;
	padding-left: 10px;
	text-indent:-9999px

}
#resourceButton.toolResource:hover {
	background-position:-59px 0px;
	
}


/*----Logout Button----*/
#systemControlContainer {
	
}
#logoutButton.toolLogout {
	background: url(../images/logoutbtn.png) no-repeat;
	height: 54px;
	width: 168px;
	float: left;
	text-indent:-9999px

}
#logoutButton.toolLogout:hover {
	background-position:-168px 0px;
}
/*------------
--------------
Bottom Bar
-------------
---------------*/
#toolBar.ICEToolBar {
	background: url(../images/toolbarbg.png) repeat-x;
	border: 0px none;
	padding: 0px;
	height: 23px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	-moz-box-shadow: 0px -1px 5px #000;
	-webkit-box-shadow: 0px -1px 5px #00;
	box-shadow: 0px -1px 5px #000;
}
#toolBar.ICEToolBar p {
	text-align: center;
	font-size: 10px;
	margin: 0px 0px 1px 0px;
}
