@charset "UTF-8";
/* CSS Document */
/*------------
--------------
Structure
-------------
---------------*/
html {
	position: relative;
	min-height: 100%;
	cursor: default;
}
body {
	background: url(../images/greenbg.png);
	margin: 0px 0px 700px 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
}
input[type=button] {
	float:right;
}
#container {
	background: url(../images/mpIconbg_light.png) no-repeat top center;
	min-width: 500px;
	min-height: 600px;
}
/*------------
--------------
Typography
-------------
---------------*/
h1, h2, h3, p, a, a:hover, ol, ul, tr.firstRow, tr {
	margin: 0px;
	padding: 8px 15px 0px 15px;
	color: #4d4d4d;
	text-shadow: 0px 1px 0px #fff;
}

p,ol,ul {
	font-size:14px;
	padding-bottom: 8px;
	line-height:1.5em;
}
/*------------Headers-----------*/
h1 {
	font-size: 18px;
}
h1.reviewHeader,h1.info,h1.notify,h1.achieve {
	margin:5px;
	padding:1px 27px;
}
h1.reviewHeader {
	background:url(../images/starIcon.png) no-repeat;
	}
h1.info {
	background:url(../images/courseInfoIcon.png) no-repeat;
	}
	
h1.notify {
	background:url(../images/notificationIcon.png) no-repeat;
	}
	
h1.achieve {
	background:url(../images/achieveIcon.png) no-repeat;
	padding:1px 35px;
	}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;	
}
/*------------Paragraphs-----------*/

p.userstats {
	color: #4a8e70;
	font-weight: 600;
}
/*------------Hard Returns-----------*/
hr.triLine {
	background: url(../images/tripleline_hr.png) repeat-x;
	height: 10px;
	border: 0 none;
}
/*------------Links-----------*/
/*------------Text Links-----------*/
a {
	color: #f7931e;
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;
	padding:0px;
}
a:hover {
	padding:0px;
	}
#footer a {
	padding:8px 15px 0px 15px;
	}
/*------------Button Links-----------*/
a.orgBtn, .grnBtn, innernav li{
	padding: 8px 23px;	
	text-shadow: #171209 0 1px 2px;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	margin-top: 15px;
	font-weight: 600;
	cursor: pointer;
}

.orgBtn {
	border: 5px solid #cccccc;
	background: #f7921e;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa545), to(#f7921e));
	background: -webkit-linear-gradient(top, #ffa545, #f7921e);
	background: -moz-linear-gradient(top, #ffa545, #f7921e);
	background: -ms-linear-gradient(top, #ffa545, #f7921e);
	background: -o-linear-gradient(top, #ffa545, #f7921e);
	background-image: -ms-linear-gradient(top, #ffa545 0%, #f7921e 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;

}
.orgBtn:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#d67200), to(#ff8800));
	background: -webkit-linear-gradient(top, #d67200, #ff8800);
	background: -moz-linear-gradient(top, #d67200, #ff8800);
	background: -ms-linear-gradient(top, #d67200, #ff8800);
	background: -o-linear-gradient(top, #d67200, #ff8800);
	background-image: -ms-linear-gradient(top, #d67200 0%, #ff8800 100%);
	padding: 8px 23px;	

}
.orgBtn:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#8f4a00), to(#c76a00));
	background: -webkit-linear-gradient(top, #8f4a00, #c76a00);
	background: -moz-linear-gradient(top, #8f4a00, #c76a00);
	background: -ms-linear-gradient(top, #8f4a00, #c76a00);
	background: -o-linear-gradient(top, #8f4a00, #c76a00);
	background-image: -ms-linear-gradient(top, #ffa545 0%, #f7921e 100%);
}

.grnBtn, ul.accordion li.unitTitle {
	border: 1px solid #424242; 
	background: #8bc63f; 
	background: -webkit-gradient(linear, left top, left bottom, from(#96bd60), to(#8bc63f));
	background: -webkit-linear-gradient(top, #96bd60, #8bc63f);
	background: -moz-linear-gradient(top, #96bd60, #8bc63f);
	background: -ms-linear-gradient(top, #96bd60, #8bc63f);
	background: -o-linear-gradient(top, #96bd60, #8bc63f);
	background-image: -ms-linear-gradient(top, #96bd60 0%, #8bc63f 100%);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   }
.grnBtn:hover,ul.accordion li.unitTitle:hover {
	background: #8bc63f;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9c27), to(#8bc63f));
	background: -webkit-linear-gradient(top, #6b9c27, #8bc63f);
	background: -moz-linear-gradient(top, #6b9c27, #8bc63f);
	background: -ms-linear-gradient(top, #6b9c27, #8bc63f);
	background: -o-linear-gradient(top, #6b9c27, #8bc63f);
	background-image: -ms-linear-gradient(top, #6b9c27 0%, #8bc63f 100%);
}
.grnBtn:active {
   background: #8bc63f;
   background: -webkit-gradient(linear, left top, left bottom, from(#96bd60), to(#8bc63f));
   background: -webkit-linear-gradient(top, #96bd60, #8bc63f);
   background: -moz-linear-gradient(top, #96bd60, #8bc63f);
   background: -ms-linear-gradient(top, #96bd60, #8bc63f);
   background: -o-linear-gradient(top, #96bd60, #8bc63f);
   background-image: -ms-linear-gradient(top, #96bd60 0%, #8bc63f 100%);  
}
/*----Course Buttons------*/
#innernav a {
	display:block;
	float:left;
	margin:0 auto;
	width:165px;
	height:15px;
	padding:5px 0px;
	border: 1px solid #424242;
	background: #284f4b;
	background: -webkit-gradient(linear, left top, left bottom, from(#386963), to(#284f4b));
	background: -webkit-linear-gradient(top, #386963, #284f4b);
	background: -moz-linear-gradient(top, #386963, #284f4b);
	background: -ms-linear-gradient(top, #386963, #284f4b);
	background-image: -ms-linear-gradient(top, #386963 0%, #284f4b 100%);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #1d281b 0 1px 0;
	color: #a9a9a9;
	font-size: 12px;
	text-decoration: none;
	text-align:center;
   }
#innernav a.current, #innernav a:hover, #innernav a:active {
	border: 1px solid #424242;
	background: #8bc63f;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9c27), to(#8bc63f));
	background: -webkit-linear-gradient(top, #6b9c27, #8bc63f);
	background: -moz-linear-gradient(top, #6b9c27, #8bc63f);
	background: -ms-linear-gradient(top, #6b9c27, #8bc63f);
	background: -o-linear-gradient(top, #6b9c27, #8bc63f);
	background-image: -ms-linear-gradient(top, #6b9c27 0%, #8bc63f 100%);
	color: #fff;
   }


/*------------Lists-----------*/
ol,ul {
	padding-left:30px;
}
ol li {
	list-style-type:decimal;
	padding:bototm:15px;
}
ol ul {
	padding-left:60px;
}
ol ul li,ul li {
	list-style-type:circle;
}

li {
	list-style: none;
}

#footer ul {
	padding:0px;
}
#footer ul li {
	list-style:none;
}
/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  border-bottom-style: none;
  background:none;
}
table tr th,
table tr th a,
table tr th a:hover {
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  text-align: left; /* LTR */
}
tr.odd {

}

tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

table tr.firstRow {
	background:none;
	border:0px none;
}

.date {
	text-align:right;
}
tr.latestNotify {
	color:#FFF;
	text-shadow:none;
	background:#74b64a;
	}

/*------------
--------------
Header
-------------
---------------*/
	
#header {
	background: url(../images/headerbg.png) repeat-x;
	height: 85px;
	width: 100%;
}
#headerContainer {
	position: relative;
	width: 1020px;
	margin: 0 auto;
	padding: 0px 0px 0px 60px;
}
#branding {
	position: relative;
	padding: 20px 15px 0px 0px;
	float: left;
	overflow: hidden;
}
/*-----Header Navigation---------*/
#launchResume {
	float: left;
	margin-top: 25px;
	padding-right: 10px;
}
#navigationButtons {
	height: 63px;
/*	float: left;
*/}
ul.topNav {
	margin: 0px;
	padding: 0px;
}
li.topNav {
	display: block;
	float: left;
	border-left: #CCC solid 1px;
	border-right: #fff solid 1px;
	height: 50px;
	padding: 30px 10px 0px 10px;
	font-size: 12px;
	color: #4d4d4d;
	font-weight: 600;
	text-shadow: 0px 1px 0px #fff;
}
li.topNav:hover {
	background: url(../images/navHover.png);
	color: #fff;
	font-weight: 600;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px#000;
	box-shadow: inset 0 0 5px #000;
	text-shadow: 0px 1px 0px #000;
	cursor: pointer;
}
.systemLinks {
	float: left;
	display: block;
	padding-top: 0px;
	border-left: #CCC solid 1px;
	height: 60px;
}
.systemLinks ul {
	padding-left:25px;
	padding-top:10px;
	}
.systemLinks ul li {
	color: #f7931e;
	font-size: 10px;
	list-style: url(../images/liTriangle.png);
	font-weight: 600;
	padding-bottom: 8px;
}

ul.accordion, ul.accordion ul.componentList {
	padding:0px;
	margin:2px auto;
	width:210px;
	list-style:none;
	}
ul.accordion li.unitTitle {
	display:block;
	width:210px;
	text-shadow: #1d281b 0 1px 0;
	margin-bottom:1px;
	/*border:none;*/
	}
ul.accordion li.unitTitle h3 {
	display:block;
	width:180px;
	color:#FFF;
	font-weight:600;
	padding:5px 5px 5px 8px;
	text-shadow: #1d281b 0 1px 0;
	background:url(../images/accordionup.png) no-repeat right;
	
}
ul.accordion li.unitTitle h3:hover,ul.accordion li.unitTitle h3.current  {
	background:url(../images/accordiondown.png) no-repeat right;
	
}
ul.accordion ul.componentList li.componentTitle, ul.accordion ul.componentList li.componentTitleNote  {
	display:block;
	border-top:1px solid #FFF;
	border-bottom:1px solid #CCC;
	font-weight:normal;
	padding:5px 0px 5px 8px;
	}
ul.accordion ul.componentList li.componentTitleNote {
	padding:5px 0px 5px 15px;
	background:url(../images/noteIcon_small.png) no-repeat left;
	}
ul.accordion ul.componentList li.componentTitleNote:hover {
	background:#e6e6e6 url(../images/noteIcon_small.png) no-repeat left;

	}
ul.accordion ul.componentList li.componentTitle:hover {
	background:#e6e6e6;
	}

ul.courseInfoList {
	margin:0px auto;
	padding:0px 8px;
	}
ul.courseInfoList li {
	list-style:none;
	font-weight:bold;
	font-size:12px;
}
ul.courseInfoList li .infoText {
	color:#4a8e70;
	
}
/*------------
--------------
Content area
-------------
---------------*/
#mainContent {
	position: relative;
	margin: 0 auto;
	width: 960px;
	padding: 8px 24px 8px 24px;
}
#contentBox.wide {
	background: url(../images/greytexturebg.png);
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	border: 4px solid #f4f4f4;
	margin-bottom: 8px;
}
#contentBox.half {
	background: url(../images/greytexturebg.png);
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	border: 4px solid #f4f4f4;
	width: 50%;
}
.box {
	position:relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	width: 100%;
	border: 1px solid #000;
}
/*-------Dashboard----*/
#courseInfo, #notifications,#achievements {
	position:relative;
	float:left;
	display:block;
	height:176px;
	}
#courseInfo {
	width:276px;
	height:176px;
	border-right:1px solid #fff;
	}
#notifications {
	border-right:1px solid #fff;
	border-left:1px solid #CCC;
	width:400px;

	}
#achievements {
	border-left:1px solid #CCC;
	width:270px;
	float:right;
	}
/*-------Review----*/
#reviewLeft {
	width:238px;
	height:450px;
	overflow:scroll;
	} 
#innernav {
	height:30px;
	width:668px;
	margin:0 auto;
}
#reviewRight {
	width:712px;
	height:470px;
	float:right;
	clear:both;
	padding:0px;
	}
.reviewContentArea {
	height:330px;
	overflow:scroll;
	}

/*------------
--------------
Footer
-------------
---------------*/
#footerWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 700px;
}
#footerTop {
	background: url(../images/topfooterbg.png) repeat-x;
	height: 83px;
	width: 100%;
}
#footer {
	background: url(../images/greytexturebg.png);
	min-height: 700px;
}
#footerDecor {
	background: url(../images/footerIcon.png) no-repeat;
	height: 83px;
	width: 89px;
	position: relative;
	margin: 0 auto;
}
#footerContent {
	position: relative;
	margin: 0 auto;
	width: 960px;
	padding: 8px 24px 8px 24px;
}


#support {
	width: 430px;
	float: left;
}
#contact {
	width:430px;
	float:right;
	}
